/** @format */

// $white: #efefef;
// $grey: #ccc;
// $charcol: #666;
// $green: #669073;
// $red: #a61e1e;
// $orange: #d37c00;
// $purple: #8702d4;
// $blue: #0754d4;

// Color swatches
// $turquoise: #1abc9c;
// $green-sea: #16a085;

// $emerald: #2ecc71;
// $nephritis: #27ae60;

// $peter-river: #3498db;
// $belize-hole: #2980b9;

// $amethyst: #9b59b6;
// $wisteria: #8e44ad;

// $wet-asphalt: #34495e;
// $midnight-blue: #2c3e50;

// $sunflower: #f1c40f;
// $orange: #f39c12;

// $carrot: #e67e22;
// $pumpkin: #d35400;

// $alizarin: #e74c3c;
// $pomegranate: #c0392b;

// $clouds: #ecf0f1;
// $silver: #bdc3c7;

// $concrete: #95a5a6;
// $asbestos: #7f8c8d;

// Alternative color swatch
// $main-dark: #313f4c;
$main-blue: #4c8fe9;
// $main-light: #8a9198;
// $secondary-light: #b7c3d3;
// $main-red: #ec1a4d;
// $text-green: #5abf29;
// $buttons-green: #4aae60;

//== Colors
// Grays
// $base: #000000;
// $gray-darkest: #202020;
// $gray-darker: #404040;
// $gray-dark: #606060;
// $gray: #808080;
// $gray-light: #a0a0a0;
// $gray-lighter: #c0c0c0;
$gray-lightest: #e0e0e0;
// $inverse: white;

// Brands
// $brand-primary: $main-dark;
// $brand-success: $green-sea;
// $brand-warning: $orange;
// $brand-danger: $pomegranate;
$brand-info: $main-blue;
